h1 {
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    display: flex;
    align-items: center;
    width: 600px;
    background-color: #4b4b4b;
    margin: 10px;
    border-radius: 20px;
  }
  
  .card img {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .data {
    padding: 15px;
    color: #ffffff;
    text-align: center;
    width: 800px;
  }
  
  .btn1 {
    color: rgb(252, 252, 252);
    background-color: rgb(20, 18, 18);
    padding: 20px;
    margin: 20px ;
    width: 300px;
    border-radius: 1px;
    margin-left: 120px;
  }
  .btn2{
    color: rgb(255, 255, 255);
    background-color: rgb(26, 25, 25);
    padding: 20px;
    margin: 20px ;
    width: 300px;
    border-radius: 1px;
  }